
button {
    width: 30rem;
    height: 40px;
    background: #020024;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
    border: none;
}
button:hover {
    cursor: pointer;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}